<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" href="{%static 'css/estilos.css'%}" type="text/css">
    <title>Ver</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
       

</head>
<body background="{%static 'img/Fondonegro.jpg'%}">
    {%load static%} 
        <br><br><br>
        <h1>Mostrando usuarios</h1>
        
        <table class="table" style="color: azure;">
            <thead>
                <tr>
                    <th scope="col">Correo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Categoria</th>
                    <th scope="col"></th>
                    
                    
                </tr>
            </thead>
            <tbody>
                {%for us in usuarios%}
                    <tr>
                        <td>{{us.correo}}</td>
                        <td>{{us.nombre}}</td>
                        <td>{{us.motivo}}</td>
                        <td>{{us.categoria}}</td>
                        <td><a href="{% url 'form_mod_usuario' us.correo%}" class="btn btn-primary">Modificar  </a></td>
                        <td><a href="{% url 'form_del_usuario' us.correo%}" class="btn btn-danger">Eliminar </a></td>
                       
                    </tr>
                {%endfor%}

            </tbody>


        </table>
        
        <a href="crear_usuario" class="btn btn-success">Volver</a>

 </body>
</html>
