<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'css/bootstrap.min.css'%}" type="text/css" rel="stylesheet"> 
    <link rel="StyleSheet" href="{%static 'css/estilos.css'%}" type="text/css">
    <link rel="StyleSheet" href="{%static 'css/galeria.css'%}" type="text/css">
    <title>Ver Usuarios</title>
</head>
<body background="{%static 'img/Fondonegro.jpg'%}">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="z-index: 1;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{%static 'img/logo.png'%}" width="100" height="80" alt="">
        </a>
        <div class="collapse navbar-collapse" id="opciones" >   
          <ul class="navbar-nav" style="color: black;">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'galeria' %}">Galeria de Fotos</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'crearUsuario' %}">crear usuario</a>
            </li>           
          </ul>
        </div>
      </nav>
    <div class="container">
        <div class="row">
            <h1>Listado de Usuarios</h1>
        </div>
        <div class="row">
            <table border="1">
                <tr>
                    <td>Correo</td>
                    <td>Nombre</td>
                    <td>Motivo</td>
                    <td>Categoria</td>
                </tr>

                {%for us in datos%}
                <tr>
                    <td>{{us.correo}}</td>
                    <td>{{us.nombre}}</td>
                    <td>{{us.motivo}}</td>
                    <td>{{us.categoria}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>

    </div>
</body>
<footer class="py-5">
    {%load static%}
    <div class="container" id="fondo">
      <p class="m-0" id="contactos" style="font-size: 13px;">David Cisternas - Jorge Venegas - Isidora Urrutia@Copyright &copy; Your Website 2021 </p>
     <br>
      <a href="https://instagram.com/krusty_ink?igshid=154kdd1lbewxx" target="_blank"><img src="{%static 'img/insta.png'%}" id="insta"></a>
    </div>
  </footer>
</html>